/*--------------------------------------------------------------
2.0 layout 
--------------------------------------------------------------*/
/* 2.1 loding */
.no-js #loader {
  display: none;
}

.js #loader {
  display: block;
  position: absolute;
  left: 100px;
  top: 0;
}

.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

/* 2.2 Navbar */
nav {
  width: 80px;
  display: table;
  text-align: center;
  padding-top: 50px;
  position: fixed;
  z-index: 3;
}

nav .logo {
  padding-top: 60px;
  font-family: OpenSansBold;
  font-size: 18px !important;
}

nav .navbar-list {
  vertical-align: middle;
}

nav .navbar-list li {
  font-size: 30px;
  margin-top: 35px;
  cursor: pointer;
}

nav .navbar-list li a {
  color: inherit;
}

nav .navbar-list li:hover,
nav .navbar-list li a:hover {
  text-decoration: none;
}

.show-nav {
  position: fixed;
  z-index: 999;
  padding: 15px;
  width: 50px;
  font-size: 30px;
  text-align: center;
  left: -80px;
  cursor: pointer;
  margin-top: 0.5%;
}

@media screen and (max-width: 768px) {
  nav {
    display: block;
    z-index: 70;
    left: 0 !important;
  }

  nav .logo,
  nav {
    padding-top: 5px;
  }

  nav .navbar-list li {
    display: inline-block;
    margin: 10px 15px;
  }

  nav .hidden-nav,
  .show-nav {
    display: none !important;
  }

  header,
  footer,
  section,
  nav {
    width: 100% !important;
  }
}

@media screen and (max-width: 425px) {

  nav .navbar-list li,
  nav .logo {
    margin: 10px 0px;
    font-size: 11px !important;
  }
}

/* 2.3 Header Section */
header {
  position: relative;
  background-image: url(../img/header.JPG);
  background-size: cover;
}

header .content {
  padding: 15% 0;
  margin: 0 20%;
  position: relative;
  z-index: 6;
}

header .content h1 {
  display: inline;
}

header .content h1,
h2 {
  font-size: 60px;
  font-family: OpenSansBold;
  margin: 0;
}

header .p,
.typed-cursor {
  margin-top: 30px;
  width: 100%;
  font-size: 25px;
  font-family: OpenSansLight;
}

@media screen and (max-width: 425px) {
  header .content {
    margin: auto;
    padding-top: 30%;
  }

  header .content h1 {
    font-size: 40px;
  }
}

/* 2.3 About Section */
.about .section-content .down {
  color: #fff;
  padding: 10px 30px;
  border-radius: 30px;
  background-color: #36383c;
}

.about .section-content .down:hover {
  border: 1px solid #fff;
  box-shadow: 5px 5px 15px #000;
}

.about .section-content .serves {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
  margin: 40px 10px;
}

.about .section-content .serves .item {
  background-color: #3a3c3f;
  border-radius: 10px;
  padding: 50px 10px;
}

.about .section-content .serves .item span {
  color: #fff;
  background-color: #4caf50;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 27px;
  display: inline-block;
  border-radius: 50%;
}

.about .section-content .serves .item h3 {
  display: inline-block;
  padding-left: 30px;
  font-weight: 900;
  color: #fff;
}

.about .section-content .serves .item p {
  opacity: 0.6;
  color: #fff;
  font-weight: 600;
  line-height: 1.6;
}

.about .section-content .pricing {
  text-align: left;
  /* ltr */
  padding-left: 50px;
  color: #fff;
  text-shadow: 2px 2px 2px #4caf50;
  font-size: 22px;
}

.about .section-content .pricing-table {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
  margin: 40px 10px;
}

.about .section-content .pricing-table .item {
  background-color: #3a3c3f;
  border-radius: 10px;
  padding: 50px 0px;
  text-align: center;
}

.about .section-content .pricing-table .item span {
  color: #fff;
  background-color: #4caf50;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 27px;
  display: block;
  margin: auto;
  border-radius: 50%;
}

.about .section-content .pricing-table .item h3 {
  display: block;
  font-weight: 900;
  font-size: 20px;
  margin: 15px 0 0 0;
  padding: 0;
  color: #fff;
}

.about .section-content .pricing-table .item h4 {
  display: block;
  font-weight: 900;
  font-size: 18px;
  padding: 0;
  margin: 0;
  color: #fff;
  margin-bottom: 15px;
}

.about .section-content .pricing-table .item ul li {
  color: #fff;
  padding-top: 15px;
}

@media screen and (max-width: 768px) {

  .about .section-content .serves,
  .about .section-content .pricing-table {
    grid-template-columns: 1fr;
  }

  .about .section-content .serves .item h3 {
    padding-left: 0;
  }
}

@media screen and (max-width: 425px) {
  .about .section-content .serves .item h3 {
    padding-left: 0;
  }
}

/*2.3 Experience Section*/
.experience .my-img {
  float: left;
}

.experience .title {
  left: auto;
  right: 5%;
  /*ltr*/
}

.experience .section-content {
  float: right;
}

.experience .section-content .ex-item {
  display: block;
  position: relative;
  z-index: 60;
  text-align: left;
  /*ltr*/
  padding: 0 15px;
  color: #eee;
}

.experience .section-content .ex-item h3 {
  font-size: 30px;
  text-shadow: 2px 2px 2px #4caf50;
  margin: 0 0;
}

.experience .section-content .ex-item h5 {
  padding: 0;
  margin: 10px;
}

.experience .section-content .ex-item p {
  margin: 0;
  padding: 0;
  line-height: 30px;
  margin-bottom: 50px;
}

.experience .section-content .center {
  text-align: center;
  margin: 10px 0;
}

.experience .section-content .center h4 {
  text-align: left;
  margin: 0;
  display: inline-block;
}

.experience .section-content .ex-item a {
  color: #fff;
  padding: 10px 15px;
  margin: 20px;
  display: inline-block;
  transition: all 1s;
}

.experience .section-content .ex-item a:hover {
  color: #fff;
  background-color: #000;
}

.experience .ex-item .tools {
  margin: 30px 0;
}

.experience .ex-item .tools li {
  display: inline-block;
  margin: 5px 5%;
}

.experience .ex-item .tools li:hover {
  color: #4caf50;
}

.experience .ex-item .tools li i {
  font-size: 50px;
}

.experience .ex-item .skill {
  margin: 30px 0;
}

.experience .ex-item .skill li {
  width: 40%;
  display: inline-block;
  margin: 15px;
}

.experience .ex-item .skill li .skill-name {
  padding: 15px 0;
}

.experience .ex-item .skill .progress {
  display: inline-block;
  width: 70%;
  height: 30px;
  float: right;
  background-color: #fff;
}

.experience .ex-item .skill .progress .leader {
  width: 70%;
  text-align: right;
  padding: 6px 5px;
  background-color: #000;
}

.experience .ex-item .skill .progress .team {
  width: 80%;
  text-align: right;
  padding: 6px 5px;
  background-color: #000;
}

.experience .ex-item .skill .progress .skill-x {
  width: 60%;
  text-align: right;
  padding: 6px 5px;
  background-color: #000;
}

.experience .ex-item .skill .progress .skill-y {
  width: 90%;
  text-align: right;
  padding: 6px 5px;
  background-color: #000;
}

@media screen and (max-width: 768px) {
  .experience .ex-item .skill li {
    display: block;
    width: auto;
  }
}

@media screen and (max-width: 425px) {
  .experience .section-content .ex-item h3 {
    font-size: 20px;
  }

  .experience .ex-item .tools li {
    display: block;
  }
}

/*2.4 Portfolio Section*/
.portfolio .section-content .title {
  position: static;
}

.btu-prot {
  color: #fff;
  padding: 10px 30px;
  border-radius: 30px;
  background-color: #36383c;
  display: inline-block;
  margin: 5px 10px;
  font-size: 22px;
  transition: all 1s;
}

.btu-prot:hover {
  color: #4caf50;
  transition: all 1s;
}

.portfolio .section-content .item-prot {
  color: #fff;
  width: 98%;
  margin: 10px 0 0 1%;
  height: 300px;
  background-color: #3A3C3F;
  padding: 10px;
  border-radius: 5px;
}

.portfolio .section-content .item-prot .img {
  width: 40%;
  height: 100%;
  float: left;
  display: inline-block;
  margin-right: 13px;
}

.portfolio .section-content .item-prot .img img {
  width: 100%;
  height: 100%;
}

.portfolio .section-content .item-prot .det {
  width: 55%;
  float: right;
  display: inline-block;
}

.portfolio .section-content .item-prot .det h2 {
  padding: 30px;
  font-size: 30px;
}

.portfolio .section-content .item-prot .det ul {
  text-align: left;
  list-style-type: circle;
  margin-bottom: 25px;
}

.portfolio .section-content .item-prot .det a {
  background-color: #2d2f33;
  color: #fff;
  padding: 5px;
  transition: all 1s;
}

.portfolio .section-content .item-prot .det a:hover {
  box-shadow: 5px 5px 15px #000;
  transition: all 1s;
}
/*---------------------
    4.7 Curtain Effeact
    -----------------------*/
    .curtain {
      width: 100%;
      height: 100%;
      position: fixed;
      z-index: 999;
      visibility: hidden;
    }
    .curtain .ov-hed {
      height: 100%;
      width: 25%;
      position: absolute;
    }
    .curtain .ov-hed:first-child {
      right: 0%;
    }
    .curtain .ov-hed:nth-child(2) {
      right: 25%;
    }
    .curtain .ov-hed:nth-child(3) {
      right: 50%;
    }
    .curtain .ov-hed:last-child {
      left: 0%;
    }
    .curtain .ov-hed .over {
      background-color: #2d2f33;
      opacity: 1;
      z-index: 999;
      left: 100%;
      border: 1px solid #000;
    }