/*--------------------------------------------------------------
3.0 module 
--------------------------------------------------------------*/
/* 3.1 utility */
.hidden {
  display: none;
}

.over {
  position: absolute;
  opacity: 0.2;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
}

.title {
  top: 30px;
  position: absolute;
  z-index: 1;
  font-size: 130px;
  text-transform: uppercase;
  font-weight: 900;
  color: #35373b;
  left: 10%;
}

.pos-re {
  /* position relative class*/
  position: relative;
  z-index: 3;
}

.pra {
  padding: 100px 100px 30px 100px;
  line-height: 1.9;
  font-weight: normal;
  font-size: 22px;
  color: #fff;
}

.my-img {
  float: right;
  width: 50%;
  height: 100%;
  position: relative;
}

.my-img img {
  width: 100%;
  height: 100%;
}

.section-content {
  width: 50%;
  height: 100%;
  float: left;
  position: relative;
  text-align: center;
}

.ov-hed {
  overflow: hidden;
}

.mar-top {
  margin-top: 120px;
}
@media screen and (min-width: 980px) {
  .section-content {
    overflow-x: hidden;
    overflow-y: scroll;
  }
}
@media screen and (max-width: 980px) {

  .section-content,
  .my-img {
    width: 100%;
  }

  .my-img {
    height: 1200px;
  }
}

@media screen and (max-width: 768px) {
  .non {
    display: none !important;
  }

  .pra {
    padding: 100px 0 0 0;
  }

  .title {
    top: 60px;
    font-size: 80px;
  }

}

@media screen and (max-width: 425px) {
  .very-non {
    display: none !important;
  }

  .title {
    top: 60px;
    font-size: 40px;
  }

}

/* 3.2 */