/*--------------------------------------------------------------
4.0 Theme 
--------------------------------------------------------------*/
/* 4.1 Colors */
body {
  font-family: "Open Sans", sans-serif;
  background-color: #2D2F33;
}
.se-pre-con {
  background: url(../img/loader.gif) center no-repeat #fff;
}
.bg-color {
  background-color: #000;
}
.over {
  background-color: #043806;
}
.title {
  color: #35373b;
}
nav .navbar-list li {
  color: #555658;
}

nav .navbar-list li:hover,
nav .navbar-list li a:hover,
.show-nav,
nav .navbar-list li a.active,
nav .logo,
header .content h1 .first,
header .content h2::first-letter {
  color: #4caf50 !important;
}
header .p,
.typed-cursor {
  color: #fff;
}
/* 4.2 Fonts */
@font-face {
  font-family: OpenSansLight;
  src: url(../fonts/OpenSans-Light.ttf);
}
@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: OpenSansBold;
  src: url(../fonts/OpenSans-Bold.ttf);
}
body {
  font-family: OpenSans, sans-serif;
}
